
/project-name/build
/project-name/.vscode
/project-name/build
/project/build
/project/managed_components
/project-name/.cache
/project-name/managed_components
/.cache
/build.clang
/build
/managed_components
/ c
